* {
  background-color: #beae94;
  font-family: Arial, sans-serif !important;
}

body {
  margin-top: 0px;
}

#line {
  width: 94vw;
  border-bottom: 2px solid black;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  overflow: hidden;
}

#intro {
  white-space: nowrap;
  text-transform: uppercase;
  animation: move 40s linear infinite;
  margin-block: 10px;
  overflow: visible;
  display: inline-block;
}

@keyframes move {
  0% {
    /* transform: translateX(0); */
    translate: 100vw 0;
  }
  100% {
      /* transform: translateX(-100%); */
      translate: -100% 0;
  }
}

#line2 {
  position: sticky;
  bottom: 0;
  width: 94vw;
  border-top: 2px solid black;
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

#header{
  display: flex;
  flex-direction: column;
  font-size: 9vw;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
}


#one-event, #one-week, #one-newschannel {
  height: 8.7vw; 
  position: relative;
} 

#one-event:hover::after {
  content: "CAPITOL PROTESTS";
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9vw;
  color: yellow;
}

#one-week:hover::after {
  content: "JANUARY 7-13 2021";
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.2vw;
  color: yellow;
}

#one-newschannel:hover::after {
  content: "FOX NEWS CHANNEL";
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.2vw;
  color: yellow;
}


#capitol {
  margin-left: 0px;
  margin-top: 0px;
}

#read-more, #read-less {
  position: absolute;
  font-size: 25px;
  border: 0px;
  padding: 0px;
  margin-left: 15px;
  cursor: pointer;
}

#read-more {
  margin-top: 10px;
}

#read-less {
  margin-top: 8px;
}

p {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 40px;
  white-space: nowrap; 
  text-transform: uppercase;
}

h1 {
  font-size: 18px;
  font-weight: normal;
}

#subtitle {
  position: sticky;
  top: 0 !important;
  font-size: 18px;
  margin: 40px;
  margin-bottom: 0px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 40px; 
  white-space: nowrap;
  border-bottom: 2px solid black;
  height: 25px;
}

h2 {
  font-size: 0.8vw;
  font-weight: normal;
  }

#info {
  font-size: 0.8vw;
  margin: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 40px;
}

#headlines {
  margin: 40px;
  margin-top: 15px;
}

#headlines p {
  margin: 0.5px; /* Adjust spacing between headlines */
  font-size: 0.7vw; /* Adjust font size */
  border-bottom: 2px;
  
}

#headlines p:hover {
  color: yellow;
  cursor: pointer;
}

#headlines .big-headline {
  position: fixed;
  width: 80vw;

  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  color: yellow;

  animation: 8s forwards fadeOut;

  translate: 0 -50%;

  background: #beae94;

  border: 2px solid yellow;

  pointer-events: none;
}

@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}


#buttons, #organize {
  display: flex;
  margin-top: 7px;
  margin-right: 7px;
}

#buttons button {
  border: 1px solid black;
  background-color: #beae94;
  color: black;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer; 
}
#buttons button.active {
  color: #beae94;
  background-color: black;
  border: none;
}


